

{% block content %}
<h1>Библиотека</h1>

  <p>Добро пожаловать в нашу библиотеку</p>

<h2>Динамическая информация</h2>

  <p>В библиотеке имеется следующее количество записей:</p>
  <ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Экземпляры:</strong> {{ num_instances }}</li>
    <li><strong>Экземпляры в наличии:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
  </ul>
  <li><a href="{% url 'index' %}">На главную</a></li>
{% endblock %}