{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-6 grid-margin transparent">
    <div class="row">
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Список книг в аренду</p>
            <p class="fs-30 mb-2"> {% if bookinstance_list %}
              <ul>
                {% for b in bookinstance_list%}
                <p>{{ b.book.title }}</p>
                <form action="{% url 'renew-book-librarian'  b.id  %}">
                    <button>Взять в аренду</button>
                </form>     
                {% endfor %}
              </ul>
              {% endif %}</p>
          </div>
        </div>
      </div>
  
{% endblock %}