
{% extends 'base.html' %}
{% load static %}
{%block content%}

<div class="col-md-6 grid-margin transparent">
  <div class="row">
    <div class="col-md-6 mb-4 stretch-card transparent">
      <div class="card card-dark-blue">
        <div class="card-body">
          <p class="mb-4">Список авторов</p>
          <p class="fs-30 mb-2"> 
            {% if author_list %}
            <ul>
            
              {% for author in author_list %}
              <li>
                <a href="{{ author.get_absolute_url }}">{{ author.first_name }}</a> ({{author.last_name}}) ({{ author.date_of_birth}}) 
              </li>
              {% endfor %}
            
            </ul>
            {% else %}
              <p>Извините, произошла ошибка :( </p>
            {% endif %} 
          </p>
        </div>
      </div>
    </div>
{% endblock %}
