{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="col-md-6 grid-margin transparent">
    <div class="row">
      <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">{{ user.get_username }}</p>
            <p class="fs-30 mb-2"> {{ book_instance.book.title }}
             <p {% if book_instance.is_overdue %} class="text-danger"{% endif %}>Дата возврата: {{ book_instance.due_back }}</p>
              <ul>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Готово!">
                  </form>
              </ul>
          </div>
        </div>
      </div>
  
{% endblock %}
