{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-md-6 grid-margin transparent">
      <div class="row">
        <div class="col-md-6 mb-4 stretch-card transparent">
          <div class="card card-dark-blue">
            <div class="card-body">
              <p class="mb-4">Арендованные книги</p>
              <p class="fs-30 mb-2"> 
                {% if bookinstance_list %}
                <ul>
                  {% for bookinst in bookinstance_list %}
                  <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <p>Вы пока не арендовали книги.</p>
                {% endif %}</p>
            </div>
          </div>
        </div>
{% endblock %}